.btn {
    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        display: inline-block;
        text-decoration: none;
        border-radius: 10rem;
        padding: 1.5rem 4rem;
        transition: all 0.2s;
        position: relative;
        font-size: 1.6rem;
        //use for element button
        border: none;
    }
    &:hover {
        transform: translateY(-0.3rem);
        box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }
    &:active {
        transform: translateY(-.1rem);
        box-shadow: 0 .5rem 1rem rgba($color-black, 0.2);
    }
    &--white {
        color: $color-grey-dark;
        background-color: $color-white;
        &::after {
            background-color: $color-white;
        }
    }
    &--green {
        color: $color-primary;
        background-color: $color-white;
        &::after {
            background-color: $color-white;
        }
    }
    &::after {
        content: "";
        display: inline-block;
        border-radius: 10rem;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }
    &--animated {
        animation: moveInBottom ease-out .75s;
    }
}

.btn-text {
    &:link,
    &:visited {
        font-size: 1.6rem;
        color: $color-primary;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-primary;
        padding: 0.3rem;
    }
    &:hover {
        background-color: $color-primary;
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
        transform: skewY(-2deg);
    }
    &:active {
        box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
        transform: skewY(-2deg);
    }
}